
@media only screen and (max-width:1099px) {
   .row{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}
   .d-xs-none{
    display: none;
}
.centerDiv{
    margin: auto;
    text-align: center;
    width: 90%;
    padding: 10vh 5%;
}

}
@media only screen and (min-width:1100px) {
    .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .centerDiv{
        margin: auto;
        text-align: center;
        width: 60%;
        padding: 10vh 5%;
    }
}

@media only screen and (max-width:400px) {
    .d-extraSm-none{
        display: none;
    }
}